# Сертификаты и ключи
*.pem
*.key

# Тестовые и временные файлы
*.txt
*.log
*.tmp
test*

# Служебные папки и конфиги (пользователя/системы)
.aws/
.config/
.cache/
.python_history
.vscode/
.idea/

# Файлы, созданные утилитами Яндекса
*.txt
*.json
